  <div class="item">
    {{#link-to 'index' class="header" activeClass=""}}
      {{fmf-constant 'name'}}
    {{/link-to}}
    <div class="menu">
      <a class="item" href="http://forum.fmf.si">Forum</a>
      <a class="item" href="http://revija.fmf.si">Revija</a>
      <a class="item">Zapiski</a>
      {{#link-to 'izjave' class="item"}}
        Izjave
      {{/link-to}}
    </div>
  </div>

  <div class="item">
    <div class="header">FMF</div>
    <div class="menu">
      <a class="item" href="http://fmf.uni-lj.si" target="_blank">Uradna stran FMF</a>
      <a class="item" href="https://vis.fmf.uni-lj.si" target="_blank">VIS</a>
      <a class="item" href="http://ucilnica.fmf.uni-lj.si" target="_blank">Spletna učilnica</a>
      <a class="item" href="http://predmeti.fmf.uni-lj.si" target="_blank">Predmeti</a>
      <a class="item" href="http://svet.fmf.si" target="_blank">Študentski svet</a>
    </div>
  </div>
