html, body {
    height: auto;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 5em;
    margin-bottom: 6em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em;
}

.global.dimmer {
	z-index: 100;
}

.ui .menu .item > .label.nav {
    margin-top: -.15em;
    margin-bottom: -.15em;
    margin-right: 0;
    padding: .3em .71428571em;
    float: right;
    text-align: center;
}
