/* TODO: move loaders to apropriate overrides */
.global.dimmer {
  z-index: 100;
}

.local.loading {
  position: relative;
  min-height: 250px;
}

.infinity-loader .ui.loader {
  position: relative;
}
