<h2 class="ui header">Izbrana modrost</h2>
<div class="ui items">
  <blockquote class="item large">
    <div class="content">
      <div class="buttons">
        {{#if session.isAuthenticated}}
          <p>
            <button class="ui primary icon button" {{action 'report' model.id}} title="Prijavi napako">
              <i class="warning circle icon"></i>
            </button>
            {{#if session.currentUser.administrator }}
              {{#link-to 'quotes.edit' model class="ui primary icon button" activeClass="" title="Uredi" }}
                <i class="edit icon"></i>
              {{/link-to}}
              <button class="ui red icon button" {{action "deleteQuote"}} title="Izbriši">
                <i class="delete icon"></i>
              </button>
            {{/if}}
          </p>
        {{/if}}
      </div>
      <div class="description">
        <p>{{model.content}}</p>
      </div>
      <div class="meta">
        <cite>{{model.author}}</cite>
      </div>
    </div>
  </blockquote>
</div>
