<div class="header segment">
  <div class="ui header text container">
    <div class="home">
      <div class="ui huge header">
        {{title}}
      </div>
    </div>
  </div>
</div>

{{common/cookie-message}}
