<div class="header segment">
  <div class="ui header text container">
    <div class="main">
      <div class="ui huge header">
        {{title}}
      </div>
      {{#if subtitle}}
        <p>{{subtitle}}</p>
      {{/if}}
    </div>
  </div>
</div>
