<p>Ta stran je nastala z namenom zbiranja skeniranih zapiskov na enem mestu. Skenerji na fiziki in matematiki so bodo kmalu ponovno nastavljeni, da lahko skenirajo zapiske in jih pošljejo direktno na to stran!</p>

<p>Opozorilo za avtorje zapiskov: Po skeniranju ne pozabite objaviti zapiska s klikom na gumb
  {{#link-to 'zapiski.register'}}vnos{{/link-to}}!</p>

<p style="text-align: center;">
  <img src="assets/images/zapiski/zapiski.png" alt="Strip">
</p>
