<div>
  {{notes-filter model=filters action="filtersChanged"}}
</div>

<div class="ui items">
  {{#each model as |note|}}
    <div class="item">
      <div class="content">
        <div class="description">
          <p>{{note.description}}</p>
        </div>
        <div class="meta">
          <span class="author">{{note.author}}</span>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{infinity-loader infinityModel=model}}
