{{common/main-header title="Piškotki"}}

{{#common/main-container}}
  <h2 class="ui header">Kaj so piškotki?</h2>

  <p>Piškotki so majhne datoteke, ki se shranijo na računalniku ob obisku spletne strani. Vsebujejo različne informacije, ki jih spletna stran prebere, ko jo ponovno obiščete, med njimi je tudi avtomatska prijava na stran in statistika obiska strani.</p>

  <p>Po zaprtju obvestila o piškotkih se le-to ne bo več prikazovalo. Tukaj to možnost lahko prekličete.</p>
  <p style="text-align: center;">
    <a href="#" class="cookie-confirm" {{action 'cookieConfirm'}}>Strinjam se z uporabo</a> -
    <a href="#" class="cookie-delete" {{action 'cookieDelete'}}>Izbriši piškotek za potrditev</a>
  </p>

{{/common/main-container}}
