{{common/main-header title="Zapiski"}}

{{#common/main-container}}
  <div class="ui primary secondary pointing menu">
    {{#link-to 'zapiski.index' class="item" }}
      Zapiski
    {{/link-to}}
    {{#link-to 'zapiski.list' class="item" }}
      Seznam
    {{/link-to}}
    {{#link-to 'zapiski.register' class="item" }}
      Vnos
    {{/link-to}}
    {{#link-to 'zapiski.upload' class="item" }}
      Naloži
    {{/link-to}}
    {{#link-to 'zapiski.help' class="item" }}
      Pomoč
    {{/link-to}}
  </div>

  {{outlet}}
{{/common/main-container}}
